In [1]:
using DataFrames

In [6]:
using CSV

df = DataFrame(CSV.File("bank-full.csv"))
first(df, 5)

5×17 DataFrame
 Row │ age    job           marital   education  default  balance  housing  lo ⋯
     │ Int64  String15      String15  String15   String3  Int64    String3  St ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    58  management    married   tertiary   no          2143  yes      no ⋯
   2 │    44  technician    single    secondary  no            29  yes      no
   3 │    33  entrepreneur  married   secondary  no             2  yes      ye
   4 │    47  blue-collar   married   unknown    no          1506  yes      no
   5 │    33  unknown       single    unknown    no             1  no       no ⋯
                                                              10 columns omitted

In [ ]:
df