# Actividad unidad 3

Este cuaderno de trabajo está diseñado para que practiques los elementos vistos a lo largo de la unidad. __(Total 10 pts)__

Para esta actividad es necesario un archivo con extensión csv llamado ___HR-Employee-Attrition.csv___ que debe estar en la misma carpeta en la que esta este archivo.

#### 1 - Cambia la variable de entorno $COLUMNS$ a 1000 para imprimir más columnas de los DataFrames (1 pt).

In [1]:
ENV["COLUMNS"] = 1000;

#### 2 - Usa el paquete CSV para leer el archivo ___HR-Employee-Attrition.csv___ y guárdalo en la variable _df_ (1 pt).

> Nota: agrega el parámetro copycols=true al leer el archivo

In [2]:
using CSV
using DataFrames
df=CSV.read("HR-Employee-Attrition.csv",DataFrame)

1470×35 DataFrame
  Row │ Age    Attrition  BusinessTravel     DailyRate  Department              DistanceFromHome  Education  EducationField  EmployeeCount  EmployeeNumber  EnvironmentSatisfaction  Gender   HourlyRate  JobInvolvement  JobLevel  JobRole                    JobSatisfaction  MaritalStatus  MonthlyIncome  MonthlyRate  NumCompaniesWorked  Over18   OverTime  PercentSalaryHike  PerformanceRating  RelationshipSatisfaction  StandardHours  StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
      │ Int64  String3    String31?          Int64      String31                Int64             Int64      String31        Int64          Int64           Int64                    String7  Int64       Int64           Int64     String31?                  Int64            String15?      Int64          Int64        Int64               String3  String3   Int64              Int64              Int64                     Int64          Int64             Int64              Int64                  Int64            Int64           Int64               Int64                    Int64
──────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
    1 │    41  Yes        Travel_Rarely           1102  Sales                                  1          2  Life Sciences               1               1                        2  Female           94               3         2  Sales Executive                          4  Single                  5993        19479                   8  Y        Yes                      11                  3                         1             80                 0                  8                      0                1               6                   4                        0                     5
    2 │    49  No         Travel_Frequently        279  Research & Development                 8          1  Life Sciences               1               2                        3  Male             61               2         2  Research Scientist                       2  Married                 5130        24907                   1  Y        No                       23                  4                         4             80                 1                 10                      3                3              10                   7                        1                     7
    3 │    37  Yes        missing                 1373  Research & Development                 2          2  Other                       1               4                        4  Male             92               2         1  missing                                  3  Single                  2090         2396                   6  Yes      Y                        15                  3                         2             80                 0                  7                      3                3               0                   0                        0                     0
    4 │    33  No         Travel_Frequently       1392  Research & Development                 3          4  Life Sciences               1               5                        4  Female           56               3         1  Research Scientist                       3  Married                 2909        23159                   1  Y        Y                        11                  3                         3             80                 0                  8                      3                3               8                   7                        3                     0
    5 │    27  No         Travel_Rarely            591  Research & Development                 2          1  Medical                     1               7                        1  Male             40               3         1  Laboratory Technician                    2  Married                 3468        16632                   9  Yes      N                        12                  3                         4             80                 1                  6                      3                3               2                   2                        2                     2
    6 │    32  No         Travel_Frequently       1005  Research & Development                 2          2  Life Sciences               1               8                        4  Male             79               3         1  Laboratory Technician                    4  Single                  3068        11864                   0  Y        No                       13                  3                         3             80                 0                  8                      2                2               7                   7                        3                     6
    7 │    59  No         Travel_Rarely           1324  Research & Development                 3          3  Medical                     1              10                        3  Female           81               4         1  Laboratory Technician                    1  Married                 2670         9964                   4  Y        Yes                      20                  4                         1             80                 3                 12                      3                2               1                   0                        0                     0
    8 │    30  No         Travel_Rarely           1358  Research & Development                24          1  Life Sciences               1              11                        4  Male             67               3         1  Laboratory Technician                    3  missing                 2693        13335                   1  Y        No                       22                  4                         2             80                 1                  1                      2                3               1                   0                        0                     0
    9 │    38  No         Travel_Frequently        216  Research & Development                23          3  Life Sciences               1              12                        4  Male             44               2         3  Manufacturing Director                   3  Single                  9526         8787                   0  Y        No                       21                  4                         2             80                 0                 10                      2                3               9                   7                        1                     8
   10 │    36  No         Travel_Rarely           1299  Research & Development                27          3  Medical                     1              13                        3  Male             94               3         2  Healthcare Representative                3  Married                 5237        16577                   6  Y        No                       13                  3                         2             80                 2                 17                      3                2               7                   7                        7                     7
   11 │    35  No         Travel_Rarely            809  Research & Development                16          3  Medical                     1              14                        1  Male             84               4         1  Laboratory Technician                    2  Married                 2426        16479                   0  Y        No                       13                  3                         3             80                 1                  6                      5                3               5                   4                        0                     3
  ⋮   │   ⋮        ⋮              ⋮              ⋮                ⋮                    ⋮              ⋮            ⋮               ⋮              ⋮                    ⋮                ⋮         ⋮             ⋮            ⋮                  ⋮                     ⋮               ⋮              ⋮             ⋮               ⋮              ⋮        ⋮              ⋮                  ⋮                     ⋮                    ⋮               ⋮                  ⋮                    ⋮                   ⋮               ⋮                 ⋮                      ⋮                      ⋮
 1461 │    29  No         Travel_Rarely            468  Research & Development                28          4  Medical                     1            2054                        4  Female           73               2         1  Research Scientist                       1  Single                  3785         8489                   1  Y        No                       14                  3                         2             80                 0                  5                      3                1               5                   4                        0                     4
 1462 │    50  Yes        Travel_Rarely            410  Sales                                 28          3  Marketing                   1            2055                        4  Male             39               2         3  Sales Executive                          1  Divorced               10854        16586                   4  Y        Yes                      13                  3                         2             80                 1                 20                      3                3               3                   2                        2                     0
 1463 │    39  No         Travel_Rarely            722  Sales                                 24          1  Marketing                   1            2056                        2  Female           60               2         4  Sales Executive                          4  Married                12031         8828                   0  Y        No                       11                  3                         1             80                 1                 21                      2                2              20                   9                        9                     6
 1464 │    31  No         Non-Travel               325  Research & Development                 5          3  Medical                     1            2057                        2  Male             74               3         2  Manufacturing Director                   1  Single                  9936         3787                   0  Y        No                       19                  3                         2             80                 0                 10                      2                3               9                   4                        1                     7
 1465 │    26  No         Travel_Rarely           1167  Sales                                  5          3  Other                       1            2060                        4  Female           30               2         1  Sales Representative                     3  Single                  2966        21378                   0  Y        No                       18                  3                         4             80                 0                  5                      2                3               4                   2                        0                     0
 1466 │    36  No         Travel_Frequently        884  Research & Development                23          2  Medical                     1            2061                        3  Male             41               4         2  Laboratory Technician                    4  Married                 2571        12290                   4  Y        No                       17                  3                         3             80                 1                 17                      3                3               5                   2                        0                     3
 1467 │    39  No         Travel_Rarely            613  Research & Development                 6          1  Medical                     1            2062                        4  Male             42               2         3  Healthcare Representative                1  Married                 9991        21457                   4  Y        No                       15                  3                         1             80                 1                  9                      5                3               7                   7                        1                     7
 1468 │    27  No         Travel_Rarely            155  Research & Development                 4          3  Life Sciences               1            2064                        2  Male             87               4         2  Manufacturing Director                   2  Married                 6142         5174                   1  Y        Yes                      20                  4                         2             80                 1                  6                      0                3               6                   2                        0                     3
 1469 │    49  No         Travel_Frequently       1023  Sales                                  2          3  Medical                     1            2065                        4  Male             63               2         2  Sales Executive                          2  Married                 5390        13243                   2  Y        No                       14                  3                         4             80                 0                 17                      3                2               9                   6                        0                     8
 1470 │    34  No         Travel_Rarely            628  Research & Development                 8          3  Medical                     1            2068                        2  Male             82               4         2  Laboratory Technician                    3  Married                 4404        10228                   2  Y        No                       12                  3                         1             80                 0                  6                      3                4               4                   3                        1                     2
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               1449 rows omitted

#### 3 - Imprime los primeros 3 y últimos 3 registros de _df_ (1 pt).

In [3]:
first(df,3)

3×35 DataFrame
 Row │ Age    Attrition  BusinessTravel     DailyRate  Department              DistanceFromHome  Education  EducationField  EmployeeCount  EmployeeNumber  EnvironmentSatisfaction  Gender   HourlyRate  JobInvolvement  JobLevel  JobRole             JobSatisfaction  MaritalStatus  MonthlyIncome  MonthlyRate  NumCompaniesWorked  Over18   OverTime  PercentSalaryHike  PerformanceRating  RelationshipSatisfaction  StandardHours  StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
     │ Int64  String3    String31?          Int64      String31                Int64             Int64      String31        Int64          Int64           Int64                    String7  Int64       Int64           Int64     String31?           Int64            String15?      Int64          Int64        Int64               String3  String3   Int64              Int64              Int64                     Int64          Int64             Int64              Int64                  Int64            Int64           Int64               Int64                    Int64
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │    41  Yes        Travel_Rarely           1102  Sales                                  1          2  Life Sciences               1               1                        2  Female           94               3         2  Sales Executive                   4  Single                  5993        19479                   8  Y        Yes                      11                  3                         1             80                 0                  8                      0                1               6                   4                        0                     5
   2 │    49  No         Travel_Frequently        279  Research & Development                 8          1  Life Sciences               1               2                        3  Male             61               2         2  Research Scientist                2  Married                 5130        24907                   1  Y        No                       23                  4                         4             80                 1                 10                      3                3              10                   7                        1                     7
   3 │    37  Yes        missing                 1373  Research & Development                 2          2  Other                       1               4                        4  Male             92               2         1  missing                           3  Single                  2090         2396                   6  Yes      Y                        15                  3                         2             80                 0                  7                      3                3               0                   0                        0                     0

In [4]:
last(df,3)

3×35 DataFrame
 Row │ Age    Attrition  BusinessTravel     DailyRate  Department              DistanceFromHome  Education  EducationField  EmployeeCount  EmployeeNumber  EnvironmentSatisfaction  Gender   HourlyRate  JobInvolvement  JobLevel  JobRole                 JobSatisfaction  MaritalStatus  MonthlyIncome  MonthlyRate  NumCompaniesWorked  Over18   OverTime  PercentSalaryHike  PerformanceRating  RelationshipSatisfaction  StandardHours  StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
     │ Int64  String3    String31?          Int64      String31                Int64             Int64      String31        Int64          Int64           Int64                    String7  Int64       Int64           Int64     String31?               Int64            String15?      Int64          Int64        Int64               String3  String3   Int64              Int64              Int64                     Int64          Int64             Int64              Int64                  Int64            Int64           Int64               Int64                    Int64
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │    27  No         Travel_Rarely            155  Research & Development                 4          3  Life Sciences               1            2064                        2  Male             87               4         2  Manufacturing Director                2  Married                 6142         5174                   1  Y        Yes                      20                  4                         2             80                 1                  6                      0                3               6                   2                        0                     3
   2 │    49  No         Travel_Frequently       1023  Sales                                  2          3  Medical                     1            2065                        4  Male             63               2         2  Sales Executive                       2  Married                 5390        13243                   2  Y        No                       14                  3                         4             80                 0                 17                      3                2               9                   6                        0                     8
   3 │    34  No         Travel_Rarely            628  Research & Development                 8          3  Medical                     1            2068                        2  Male             82               4         2  Laboratory Technician                 3  Married                 4404        10228                   2  Y        No                       12                  3                         1             80                 0                  6                      3                4               4                   3                        1                     2

#### 4 - Imprime el número de filas (1 pt).

In [5]:
nrow(df)

1470

#### 5 - Imprime las columnas y tipo de _df_ (1 pt).

In [6]:
for i in zip(names(df), eltype.(eachcol(df)))
    println(i)
end

("Age", Int64)
("Attrition", String3)
("BusinessTravel", Union{Missing, String31})
("DailyRate", Int64)
("Department", String31)
("DistanceFromHome", Int64)
("Education", Int64)
("EducationField", String31)
("EmployeeCount", Int64)
("EmployeeNumber", Int64)
("EnvironmentSatisfaction", Int64)
("Gender", String7)
("HourlyRate", Int64)
("JobInvolvement", Int64)
("JobLevel", Int64)
("JobRole", Union{Missing, String31})
("JobSatisfaction", Int64)
("MaritalStatus", Union{Missing, String15})
("MonthlyIncome", Int64)
("MonthlyRate", Int64)
("NumCompaniesWorked", Int64)
("Over18", String3)
("OverTime", String3)
("PercentSalaryHike", Int64)
("PerformanceRating", Int64)
("RelationshipSatisfaction", Int64)
("StandardHours", Int64)
("StockOptionLevel", Int64)
("TotalWorkingYears", Int64)
("TrainingTimesLastYear", Int64)
("WorkLifeBalance", Int64)
("YearsAtCompany", Int64)
("YearsInCurrentRole", Int64)
("YearsSinceLastPromotion", Int64)
("YearsWithCurrManager", Int64)

#### 6 - Imprime los valores únicos de las columnas con valores missing (1 pt).

In [7]:
unique(df.BusinessTravel)

4-element Vector{Union{Missing, String31}}:
 "Travel_Rarely"
 "Travel_Frequently"
 missing
 "Non-Travel"

In [8]:
unique(df.JobRole)

10-element Vector{Union{Missing, String31}}:
 "Sales Executive"
 "Research Scientist"
 missing
 "Laboratory Technician"
 "Manufacturing Director"
 "Healthcare Representative"
 "Manager"
 "Sales Representative"
 "Research Director"
 "Human Resources"

In [9]:
unique(df.MaritalStatus)

4-element Vector{Union{Missing, String15}}:
 "Single"
 "Married"
 missing
 "Divorced"

#### 7 - Elimina los valores _missing_ de _df_ y vuelve a imprimir las columnas del punto 6 (1 pt).
> Similar a disallowmissing!, puedes usar dropmissing! para eliminar valores _missing_

In [10]:
dropmissing!(df);
for i in zip(names(df), eltype.(eachcol(df)))
    println(i)
end

("Age", Int64)
("Attrition", String3)
("BusinessTravel", String31)
("DailyRate", Int64)
("Department", String31)
("DistanceFromHome", Int64)
("Education", Int64)
("EducationField", String31)
("EmployeeCount", Int64)
("EmployeeNumber", Int64)
("EnvironmentSatisfaction", Int64)
("Gender", String7)
("HourlyRate", Int64)
("JobInvolvement", Int64)
("JobLevel", Int64)
("JobRole", String31)
("JobSatisfaction", Int64)
("MaritalStatus", String15)
("MonthlyIncome", Int64)
("MonthlyRate", Int64)
("NumCompaniesWorked", Int64)
("Over18", String3)
("OverTime", String3)
("PercentSalaryHike", Int64)
("PerformanceRating", Int64)
("RelationshipSatisfaction", Int64)
("StandardHours", Int64)
("StockOptionLevel", Int64)
("TotalWorkingYears", Int64)
("TrainingTimesLastYear", Int64)
("WorkLifeBalance", Int64)
("YearsAtCompany", Int64)
("YearsInCurrentRole", Int64)
("YearsSinceLastPromotion", Int64)
("YearsWithCurrManager", Int64)

In [11]:
unique(df.BusinessTravel)

3-element Vector{String31}:
 "Travel_Rarely"
 "Travel_Frequently"
 "Non-Travel"

In [12]:
unique(df.JobRole)

9-element Vector{String31}:
 "Sales Executive"
 "Research Scientist"
 "Laboratory Technician"
 "Manufacturing Director"
 "Healthcare Representative"
 "Manager"
 "Sales Representative"
 "Research Director"
 "Human Resources"

In [13]:
unique(df.MaritalStatus)

3-element Vector{String15}:
 "Single"
 "Married"
 "Divorced"

#### 8 - Las columnas Over18 y OverTime tienen múltiples representaciones. Modifícalas para que solo contengan true o false (1 pt).

__Over18__:

In [14]:
unique(df.Over18)

2-element Vector{String3}:
 "Y"
 "Yes"

In [15]:
df[(df[!,:Over18] .== "Y"),:Over18].="Yes"

1467-element view(::PooledArrays.PooledVector{String3, UInt32, Vector{UInt32}}, [1, 2, 3, 5, 6, 7, 8, 9, 10, 11  …  1459, 1460, 1461, 1462, 1463, 1464, 1465, 1466, 1467, 1468]) with eltype String3:
 "Yes"
 "Yes"
 "Yes"
 "Yes"
 "Yes"
 "Yes"
 "Yes"
 "Yes"
 "Yes"
 "Yes"
 "Yes"
 "Yes"
 "Yes"
 ⋮
 "Yes"
 "Yes"
 "Yes"
 "Yes"
 "Yes"
 "Yes"
 "Yes"
 "Yes"
 "Yes"
 "Yes"
 "Yes"
 "Yes"

In [16]:
unique(df.Over18)

1-element Vector{String3}:
 "Yes"

__OverTime__:

In [17]:
unique(df.OverTime)

4-element Vector{String3}:
 "Yes"
 "No"
 "Y"
 "N"

In [18]:
df[(df[!,:OverTime] .== "Y"),:OverTime].="Yes"
df[(df[!,:OverTime] .== "N"),:OverTime].="No"

1-element view(::PooledArrays.PooledVector{String3, UInt32, Vector{UInt32}}, [4]) with eltype String3:
 "No"

In [19]:
unique(df.OverTime)

2-element Vector{String3}:
 "Yes"
 "No"

#### 9 - Aplica un preprocesamiento del tipo _LabelBinarizer_ y _MinMaxScaler_ a las columnas _Age_ , _BusinessTravel_ , _JobRole_ (2 pts).

In [20]:
using ScikitLearn
using DataFrames: DataFrame, missing
@sk_import preprocessing: (LabelBinarizer, MinMaxScaler)

[ Info: mkl not found, proceeding to installing non-mkl versions of sci-kit learn via Conda
[ Info: Running `conda install -y -c conda-forge 'scikit-learn>=1.2,<1.3'` in root environment

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

PyObject <class 'sklearn.preprocessing._data.MinMaxScaler'>

In [21]:
mapper = DataFrameMapper([
                        (:BusinessTravel, LabelBinarizer()),
                        (:JobRole, LabelBinarizer()),
                        ([:Age], MinMaxScaler())
                        ]);

In [22]:
fit_transform!(mapper, copy(df))

1468×13 Matrix{Float64}:
 0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.547619
 0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.738095
 0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.357143
 0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.214286
 0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.333333
 0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.97619
 0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.47619
 0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.428571
 0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.404762
 0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.261905
 0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.309524
 0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.380952
 0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.238095
 ⋮                        ⋮                        ⋮
 0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.404762
 0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.261905
 0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.261905
 0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.761905
 0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.5
 1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.309524
 0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.190476
 0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.428571
 0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.5
 0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.214286
 0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.738095
 0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.380952

<hr>

###### Fuente de los datos:

> https://www.kaggle.com/pavansubhasht/ibm-hr-analytics-attrition-dataset