In [2]:
using DataFrames

In [3]:
using CSV

df = DataFrame(CSV.File("bank-full.csv"))
first(df, 5)

5×17 DataFrame
 Row │ age    job           marital   education  default  balance  housing  lo ⋯
     │ Int64  String15      String15  String15   String3  Int64    String3  St ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    58  management    married   tertiary   no          2143  yes      no ⋯
   2 │    44  technician    single    secondary  no            29  yes      no
   3 │    33  entrepreneur  married   secondary  no             2  yes      ye
   4 │    47  blue-collar   married   unknown    no          1506  yes      no
   5 │    33  unknown       single    unknown    no             1  no       no ⋯
                                                              10 columns omitted

In [9]:
df

45211×17 DataFrame
   Row │ age    job           marital   education  default  balance  housing   ⋯
       │ Int64  String15      String15  String15   String3  Int64    String3   ⋯
───────┼────────────────────────────────────────────────────────────────────────
     1 │    58  management    married   tertiary   no          2143  yes       ⋯
     2 │    44  technician    single    secondary  no            29  yes
     3 │    33  entrepreneur  married   secondary  no             2  yes
     4 │    47  blue-collar   married   unknown    no          1506  yes
     5 │    33  unknown       single    unknown    no             1  no        ⋯
     6 │    35  management    married   tertiary   no           231  yes
     7 │    28  management    single    tertiary   no           447  yes
     8 │    42  entrepreneur  divorced  tertiary   yes            2  yes
     9 │    58  retired       married   primary    no           121  yes       ⋯
    10 │    43  technician    single    secondary  no           593  yes
    11 │    41  admin.        divorced  secondary  no           270  yes
   ⋮   │   ⋮         ⋮           ⋮          ⋮         ⋮        ⋮        ⋮      ⋱
 45202 │    53  management    married   tertiary   no           583  no
 45203 │    34  admin.        single    secondary  no           557  no        ⋯
 45204 │    23  student       single    tertiary   no           113  no
 45205 │    73  retired       married   secondary  no          2850  no
 45206 │    25  technician    single    secondary  no           505  no
 45207 │    51  technician    married   tertiary   no           825  no        ⋯
 45208 │    71  retired       divorced  primary    no          1729  no
 45209 │    72  retired       married   secondary  no          5715  no
 45210 │    57  blue-collar   married   secondary  no           668  no
 45211 │    37  entrepreneur  married   secondary  no          2971  no        ⋯
                                               10 columns and 45190 rows omitted

In [10]:
dropmissing(df)

45211×17 DataFrame
   Row │ age    job           marital   education  default  balance  housing   ⋯
       │ Int64  String15      String15  String15   String3  Int64    String3   ⋯
───────┼────────────────────────────────────────────────────────────────────────
     1 │    58  management    married   tertiary   no          2143  yes       ⋯
     2 │    44  technician    single    secondary  no            29  yes
     3 │    33  entrepreneur  married   secondary  no             2  yes
     4 │    47  blue-collar   married   unknown    no          1506  yes
     5 │    33  unknown       single    unknown    no             1  no        ⋯
     6 │    35  management    married   tertiary   no           231  yes
     7 │    28  management    single    tertiary   no           447  yes
     8 │    42  entrepreneur  divorced  tertiary   yes            2  yes
     9 │    58  retired       married   primary    no           121  yes       ⋯
    10 │    43  technician    single    secondary  no           593  yes
    11 │    41  admin.        divorced  secondary  no           270  yes
   ⋮   │   ⋮         ⋮           ⋮          ⋮         ⋮        ⋮        ⋮      ⋱
 45202 │    53  management    married   tertiary   no           583  no
 45203 │    34  admin.        single    secondary  no           557  no        ⋯
 45204 │    23  student       single    tertiary   no           113  no
 45205 │    73  retired       married   secondary  no          2850  no
 45206 │    25  technician    single    secondary  no           505  no
 45207 │    51  technician    married   tertiary   no           825  no        ⋯
 45208 │    71  retired       divorced  primary    no          1729  no
 45209 │    72  retired       married   secondary  no          5715  no
 45210 │    57  blue-collar   married   secondary  no           668  no
 45211 │    37  entrepreneur  married   secondary  no          2971  no        ⋯
                                               10 columns and 45190 rows omitted