In [1]:
# https://archive.ics.uci.edu/ml/datasets/adult (Anteriormente http://mlr.cs.umass.edu/ml/datasets/Adult)
using DataFrames
using CSV
ENV["COLUMNS"] = 250;

In [2]:
colum_names = ["age","workclass","fnlwgt","education","education-num","marital-status","occupation","relationship","race","sex","capital-gain","capital-loss","hours-per-week","native-country", "mas50"]
colum_names = ["age","workclass","fnlwgt","education","educationnum","maritalstatus","occupation","relationship","race","sex","capitalgain","capitalloss","hoursperweek","nativecountry", "mas50"]
;

In [3]:
# df = DataFrame(CSV.File("adult.data.txt"))
# df = DataFrame(CSV.File("adult.data.txt", header = false))
# missingstrings=["NA", "na", "n/a", "missing"]

# df = DataFrame(CSV.File("adult.data.txt", 
#         header = false,
#         missingstrings=["NA", "na", "n/a", "missing", "?"],
#         delim=", "))

df = DataFrame(CSV.File("adult.data.txt", 
        header = colum_names,
        missingstring=["NA", "na", "n/a", "missing", "?"],
        delim=", "))







first(df, 5)

5×15 DataFrame
 Row │ age    workclass         fnlwgt  education  educationnum  maritalstatus       occupation         relationship   race      sex      capitalgain  capitalloss  hoursperweek  nativecountry  mas50
     │ Int64  String31?         Int64   String15   Int64         String31            String31?          String15       String31  String7  Int64        Int64        Int64         String31?      String7
─────┼───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │    39  State-gov          77516  Bachelors            13  Never-married       Adm-clerical       Not-in-family  White     Male            2174            0            40  United-States  <=50K
   2 │    50  Self-emp-not-inc   83311  Bachelors            13  Married-civ-spouse  Exec-managerial    Husband        White     male               0            0            13  United-States  <=50K
   3 │    38  Private           215646  HS-grad               9  Divorced            Handlers-cleaners  Not-in-family  White     Male               0            0            40  United-States  <=50K
   4 │    53  Private           234721  11th                  7  Married-civ-spouse  Handlers-cleaners  Husband        Black     male               0            0            40  United-States  <=50K
   5 │    28  Private           338409  Bachelors            13  Married-civ-spouse  Prof-specialty     Wife           Black     Female             0            0            40  Cuba           <=50K

In [4]:
summary(df)

"32561×15 DataFrame"

In [5]:
names(df)

15-element Vector{String}:
 "age"
 "workclass"
 "fnlwgt"
 "education"
 "educationnum"
 "maritalstatus"
 "occupation"
 "relationship"
 "race"
 "sex"
 "capitalgain"
 "capitalloss"
 "hoursperweek"
 "nativecountry"
 "mas50"

In [6]:
nrow(df)

32561

In [7]:
last(df)

DataFrameRow
   Row │ age    workclass     fnlwgt  education  educationnum  maritalstatus       occupation       relationship  race      sex      capitalgain  capitalloss  hoursperweek  nativecountry  mas50
       │ Int64  String31?     Int64   String15   Int64         String31            String31?        String15      String31  String7  Int64        Int64        Int64         String31?      String7
───────┼────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
 32561 │    52  Self-emp-inc  287927  HS-grad               9  Married-civ-spouse  Exec-managerial  Wife          White     Female         15024            0            40  United-States  >50K

In [8]:
delete!(df,32561)
last(df)

DataFrameRow
   Row │ age    workclass  fnlwgt  education  educationnum  maritalstatus  occupation    relationship  race      sex      capitalgain  capitalloss  hoursperweek  nativecountry  mas50
       │ Int64  String31?  Int64   String15   Int64         String31       String31?     String15      String31  String7  Int64        Int64        Int64         String31?      String7
───────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
 32560 │    22  Private    201490  HS-grad               9  Never-married  Adm-clerical  Own-child     White     Male               0            0            20  United-States  <=50K

# Tipos de datos

In [9]:
first(df,5)

5×15 DataFrame
 Row │ age    workclass         fnlwgt  education  educationnum  maritalstatus       occupation         relationship   race      sex      capitalgain  capitalloss  hoursperweek  nativecountry  mas50
     │ Int64  String31?         Int64   String15   Int64         String31            String31?          String15       String31  String7  Int64        Int64        Int64         String31?      String7
─────┼───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │    39  State-gov          77516  Bachelors            13  Never-married       Adm-clerical       Not-in-family  White     Male            2174            0            40  United-States  <=50K
   2 │    50  Self-emp-not-inc   83311  Bachelors            13  Married-civ-spouse  Exec-managerial    Husband        White     male               0            0            13  United-States  <=50K
   3 │    38  Private           215646  HS-grad               9  Divorced            Handlers-cleaners  Not-in-family  White     Male               0            0            40  United-States  <=50K
   4 │    53  Private           234721  11th                  7  Married-civ-spouse  Handlers-cleaners  Husband        Black     male               0            0            40  United-States  <=50K
   5 │    28  Private           338409  Bachelors            13  Married-civ-spouse  Prof-specialty     Wife           Black     Female             0            0            40  Cuba           <=50K

In [10]:
for i in zip(names(df), eltype.(eachcol(df)))
    println(i)
end

("age", Int64)
("workclass", Union{Missing, String31})
("fnlwgt", Int64)
("education", String15)
("educationnum", Int64)
("maritalstatus", String31)
("occupation", Union{Missing, String31})
("relationship", String15)
("race", String31)
("sex", String7)
("capitalgain", Int64)
("capitalloss", Int64)
("hoursperweek", Int64)
("nativecountry", Union{Missing, String31})
("mas50", String7)

In [11]:
#Se ha mejorado la detección del tipo de datos.
df[!,:age] = convert.(Int,df[!,:age])

32560-element Vector{Int64}:
 39
 50
 38
 53
 28
 37
 49
 52
 31
 42
 37
 30
 23
  ⋮
 65
 43
 43
 32
 43
 32
 53
 22
 27
 40
 58
 22

In [12]:
for i in zip(names(df), eltype.(eachcol(df)))
    println(i)
end

("age", Int64)
("workclass", Union{Missing, String31})
("fnlwgt", Int64)
("education", String15)
("educationnum", Int64)
("maritalstatus", String31)
("occupation", Union{Missing, String31})
("relationship", String15)
("race", String31)
("sex", String7)
("capitalgain", Int64)
("capitalloss", Int64)
("hoursperweek", Int64)
("nativecountry", Union{Missing, String31})
("mas50", String7)

In [13]:
disallowmissing!(df, error=false);
for i in zip(names(df), eltype.(eachcol(df)))
    println(i)
end

("age", Int64)
("workclass", Union{Missing, String31})
("fnlwgt", Int64)
("education", String15)
("educationnum", Int64)
("maritalstatus", String31)
("occupation", Union{Missing, String31})
("relationship", String15)
("race", String31)
("sex", String7)
("capitalgain", Int64)
("capitalloss", Int64)
("hoursperweek", Int64)
("nativecountry", Union{Missing, String31})
("mas50", String7)

# Multiples representaciones

Diferencias en capitalización, espaciado, genero puede causar errores.

In [14]:
unique(df.sex)

7-element Vector{String7}:
 "Male"
 "male"
 "Female"
 "Femle"
 "Mal"
 "female"
 "Man"

In [15]:
df[(df[!,:sex] .== "male"),:sex].="Male"
df[(df[!,:sex] .== "Femle"),:sex].="Female"
df[(df[!,:sex] .== "Femle"),:sex].="Female"
df[(df[!,:sex] .== "Mal"),:sex].="Male"
df[(df[!,:sex] .== "female"),:sex].="Female"
df[(df[!,:sex] .== "Man"),:sex].="Male"

1-element view(::PooledArrays.PooledVector{String7, UInt32, Vector{UInt32}}, [15]) with eltype String7:
 "Male"

# Datos Faltantes

## Eliminar filas con datos faltantes

In [16]:
df[completecases(df),:]

30161×15 DataFrame
   Row │ age    workclass         fnlwgt  education     educationnum  maritalstatus          occupation         relationship    race                sex      capitalgain  capitalloss  hoursperweek  nativecountry  mas50
       │ Int64  String31?         Int64   String15      Int64         String31               String31?          String15        String31            String7  Int64        Int64        Int64         String31?      String7
───────┼────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
     1 │    39  State-gov          77516  Bachelors               13  Never-married          Adm-clerical       Not-in-family   White               Male            2174            0            40  United-States  <=50K
     2 │    50  Self-emp-not-inc   83311  Bachelors               13  Married-civ-spouse     Exec-managerial    Husband         White               Male               0            0            13  United-States  <=50K
     3 │    38  Private           215646  HS-grad                  9  Divorced               Handlers-cleaners  Not-in-family   White               Male               0            0            40  United-States  <=50K
     4 │    53  Private           234721  11th                     7  Married-civ-spouse     Handlers-cleaners  Husband         Black               Male               0            0            40  United-States  <=50K
     5 │    28  Private           338409  Bachelors               13  Married-civ-spouse     Prof-specialty     Wife            Black               Female             0            0            40  Cuba           <=50K
     6 │    37  Private           284582  Masters                 14  Married-civ-spouse     Exec-managerial    Wife            White               Female             0            0            40  United-States  <=50K
     7 │    49  Private           160187  9th                      5  Married-spouse-absent  Other-service      Not-in-family   Black               Female             0            0            16  Jamaica        <=50K
     8 │    52  Self-emp-not-inc  209642  HS-grad                  9  Married-civ-spouse     Exec-managerial    Husband         White               Male               0            0            45  United-States  >50K
     9 │    31  Private            45781  Masters                 14  Never-married          Prof-specialty     Not-in-family   White               Female         14084            0            50  United-States  >50K
    10 │    42  Private           159449  Bachelors               13  Married-civ-spouse     Exec-managerial    Husband         White               Male            5178            0            40  United-States  >50K
    11 │    37  Private           280464  Some-college            10  Married-civ-spouse     Exec-managerial    Husband         Black               Male               0            0            80  United-States  >50K
   ⋮   │   ⋮           ⋮            ⋮          ⋮             ⋮                  ⋮                    ⋮                ⋮                 ⋮              ⋮          ⋮            ⋮            ⋮              ⋮           ⋮
 30152 │    43  Self-emp-not-inc   27242  Some-college            10  Married-civ-spouse     Craft-repair       Husband         White               Male               0            0            50  United-States  <=50K
 30153 │    32  Private            34066  10th                     6  Married-civ-spouse     Handlers-cleaners  Husband         Amer-Indian-Eskimo  Male               0            0            40  United-States  <=50K
 30154 │    43  Private            84661  Assoc-voc               11  Married-civ-spouse     Sales              Husband         White               Male               0            0            45  United-States  <=50K
 30155 │    32  Private           116138  Masters                 14  Never-married          Tech-support       Not-in-family   Asian-Pac-Islander  Male               0            0            11  Taiwan         <=50K
 30156 │    53  Private           321865  Masters                 14  Married-civ-spouse     Exec-managerial    Husband         White               Male               0            0            40  United-States  >50K
 30157 │    22  Private           310152  Some-college            10  Never-married          Protective-serv    Not-in-family   White               Male               0            0            40  United-States  <=50K
 30158 │    27  Private           257302  Assoc-acdm              12  Married-civ-spouse     Tech-support       Wife            White               Female             0            0            38  United-States  <=50K
 30159 │    40  Private           154374  HS-grad                  9  Married-civ-spouse     Machine-op-inspct  Husband         White               Male               0            0            40  United-States  >50K
 30160 │    58  Private           151910  HS-grad                  9  Widowed                Adm-clerical       Unmarried       White               Female             0            0            40  United-States  <=50K
 30161 │    22  Private           201490  HS-grad                  9  Never-married          Adm-clerical       Own-child       White               Male               0            0            20  United-States  <=50K
                                                                                                                                                                                                          30140 rows omitted

## Remplazar con el mas popular

In [17]:
using StatsBase
countmap(df[!,:workclass])

Dict{Union{Missing, String31}, Int64} with 9 entries:
  missing            => 1836
  "Never-worked"     => 7
  "Private"          => 22696
  "Federal-gov"      => 960
  "Self-emp-inc"     => 1115
  "Without-pay"      => 14
  "Local-gov"        => 2093
  "State-gov"        => 1298
  "Self-emp-not-inc" => 2541

In [18]:
# df[(df[!,:workclass] .== missing),:workclass].="Private"
df[!,:workclass] = coalesce.(df[!,:workclass], "Private")

32560-element Vector{AbstractString}:
 "State-gov"
 "Self-emp-not-inc"
 "Private"
 "Private"
 "Private"
 "Private"
 "Private"
 "Self-emp-not-inc"
 "Private"
 "Private"
 "Private"
 "State-gov"
 "Private"
 ⋮
 "Self-emp-not-inc"
 "State-gov"
 "Self-emp-not-inc"
 "Private"
 "Private"
 "Private"
 "Private"
 "Private"
 "Private"
 "Private"
 "Private"
 "Private"

In [19]:
countmap(df[!,:workclass])

Dict{AbstractString, Int64} with 8 entries:
  "Never-worked"     => 7
  "Private"          => 24532
  "Federal-gov"      => 960
  "Self-emp-inc"     => 1115
  "Without-pay"      => 14
  "Local-gov"        => 2093
  "State-gov"        => 1298
  "Self-emp-not-inc" => 2541

## Remplazar con un valor vacio

In [20]:
countmap(df[!,:nativecountry])[missing]

583

In [21]:
df[!,:nativecountry] = coalesce.(df[!,:nativecountry], "No country");
countmap(df[!,:nativecountry])["No country"]

583

In [22]:
disallowmissing!(df, error=false);
for i in zip(names(df), eltype.(eachcol(df)))
    println(i)
end

("age", Int64)
("workclass", AbstractString)
("fnlwgt", Int64)
("education", String15)
("educationnum", Int64)
("maritalstatus", String31)
("occupation", Union{Missing, String31})
("relationship", String15)
("race", String31)
("sex", String7)
("capitalgain", Int64)
("capitalloss", Int64)
("hoursperweek", Int64)
("nativecountry", AbstractString)
("mas50", String7)

In [23]:
df[!,:occupation] = coalesce.(df[!,:occupation], "Not Found");
countmap(df[!,:occupation])

Dict{AbstractString, Int64} with 15 entries:
  "Farming-fishing"   => 994
  "Protective-serv"   => 649
  "Craft-repair"      => 4099
  "Adm-clerical"      => 3770
  "Machine-op-inspct" => 2002
  "Exec-managerial"   => 4065
  "Transport-moving"  => 1597
  "Prof-specialty"    => 4140
  "Handlers-cleaners" => 1370
  "Tech-support"      => 928
  "Other-service"     => 3295
  "Priv-house-serv"   => 149
  "Armed-Forces"      => 9
  "Not Found"         => 1843
  "Sales"             => 3650

In [24]:
df = df[completecases(df),:]
disallowmissing!(df, error=false);
for i in zip(names(df), eltype.(eachcol(df)))
    println(i)
end
df

("age", Int64)
("workclass", AbstractString)
("fnlwgt", Int64)
("education", String15)
("educationnum", Int64)
("maritalstatus", String31)
("occupation", AbstractString)
("relationship", String15)
("race", String31)
("sex", String7)
("capitalgain", Int64)
("capitalloss", Int64)
("hoursperweek", Int64)
("nativecountry", AbstractString)
("mas50", String7)

32560×15 DataFrame
   Row │ age    workclass         fnlwgt  education     educationnum  maritalstatus          occupation         relationship    race                sex      capitalgain  capitalloss  hoursperweek  nativecountry  mas50
       │ Int64  Abstract…         Int64   String15      Int64         String31               Abstract…          String15        String31            String7  Int64        Int64        Int64         Abstract…      String7
───────┼────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
     1 │    39  State-gov          77516  Bachelors               13  Never-married          Adm-clerical       Not-in-family   White               Male            2174            0            40  United-States  <=50K
     2 │    50  Self-emp-not-inc   83311  Bachelors               13  Married-civ-spouse     Exec-managerial    Husband         White               Male               0            0            13  United-States  <=50K
     3 │    38  Private           215646  HS-grad                  9  Divorced               Handlers-cleaners  Not-in-family   White               Male               0            0            40  United-States  <=50K
     4 │    53  Private           234721  11th                     7  Married-civ-spouse     Handlers-cleaners  Husband         Black               Male               0            0            40  United-States  <=50K
     5 │    28  Private           338409  Bachelors               13  Married-civ-spouse     Prof-specialty     Wife            Black               Female             0            0            40  Cuba           <=50K
     6 │    37  Private           284582  Masters                 14  Married-civ-spouse     Exec-managerial    Wife            White               Female             0            0            40  United-States  <=50K
     7 │    49  Private           160187  9th                      5  Married-spouse-absent  Other-service      Not-in-family   Black               Female             0            0            16  Jamaica        <=50K
     8 │    52  Self-emp-not-inc  209642  HS-grad                  9  Married-civ-spouse     Exec-managerial    Husband         White               Male               0            0            45  United-States  >50K
     9 │    31  Private            45781  Masters                 14  Never-married          Prof-specialty     Not-in-family   White               Female         14084            0            50  United-States  >50K
    10 │    42  Private           159449  Bachelors               13  Married-civ-spouse     Exec-managerial    Husband         White               Male            5178            0            40  United-States  >50K
    11 │    37  Private           280464  Some-college            10  Married-civ-spouse     Exec-managerial    Husband         Black               Male               0            0            80  United-States  >50K
   ⋮   │   ⋮           ⋮            ⋮          ⋮             ⋮                  ⋮                    ⋮                ⋮                 ⋮              ⋮          ⋮            ⋮            ⋮              ⋮           ⋮
 32551 │    43  Self-emp-not-inc   27242  Some-college            10  Married-civ-spouse     Craft-repair       Husband         White               Male               0            0            50  United-States  <=50K
 32552 │    32  Private            34066  10th                     6  Married-civ-spouse     Handlers-cleaners  Husband         Amer-Indian-Eskimo  Male               0            0            40  United-States  <=50K
 32553 │    43  Private            84661  Assoc-voc               11  Married-civ-spouse     Sales              Husband         White               Male               0            0            45  United-States  <=50K
 32554 │    32  Private           116138  Masters                 14  Never-married          Tech-support       Not-in-family   Asian-Pac-Islander  Male               0            0            11  Taiwan         <=50K
 32555 │    53  Private           321865  Masters                 14  Married-civ-spouse     Exec-managerial    Husband         White               Male               0            0            40  United-States  >50K
 32556 │    22  Private           310152  Some-college            10  Never-married          Protective-serv    Not-in-family   White               Male               0            0            40  United-States  <=50K
 32557 │    27  Private           257302  Assoc-acdm              12  Married-civ-spouse     Tech-support       Wife            White               Female             0            0            38  United-States  <=50K
 32558 │    40  Private           154374  HS-grad                  9  Married-civ-spouse     Machine-op-inspct  Husband         White               Male               0            0            40  United-States  >50K
 32559 │    58  Private           151910  HS-grad                  9  Widowed                Adm-clerical       Unmarried       White               Female             0            0            40  United-States  <=50K
 32560 │    22  Private           201490  HS-grad                  9  Never-married          Adm-clerical       Own-child       White               Male               0            0            20  United-States  <=50K
                                                                                                                                                                                                          32539 rows omitted

# Normalización y escalamiento

In [25]:
# import Pkg; Pkg.add("ScikitLearn");
using ScikitLearn
using DataFrames: DataFrame, missing
@sk_import preprocessing: (LabelBinarizer, MinMaxScaler)

PyObject <class 'sklearn.preprocessing._data.MinMaxScaler'>

In [26]:
mapper = DataFrameMapper([
                        (:sex, LabelBinarizer()),
                        (:workclass, LabelBinarizer()),
                        ([:age], MinMaxScaler())
                        ]);

In [27]:
fit_transform!(mapper, copy(df))

32560×10 Matrix{Float64}:
 1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.30137
 1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.452055
 1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.287671
 1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.493151
 0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.150685
 0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.273973
 0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.438356
 1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.479452
 0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.191781
 1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.342466
 1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.273973
 1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.178082
 0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0821918
 ⋮                        ⋮
 1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.657534
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.356164
 1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.356164
 1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.205479
 1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.356164
 1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.205479
 1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.493151
 1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0684932
 0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.136986
 1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.315068
 0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.561644
 1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0684932

In [28]:
first(df)

DataFrameRow
 Row │ age    workclass  fnlwgt  education  educationnum  maritalstatus  occupation    relationship   race      sex      capitalgain  capitalloss  hoursperweek  nativecountry  mas50
     │ Int64  Abstract…  Int64   String15   Int64         String31       Abstract…     String15       String31  String7  Int64        Int64        Int64         Abstract…      String7
─────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
   1 │    39  State-gov   77516  Bachelors            13  Never-married  Adm-clerical  Not-in-family  White     Male            2174            0            40  United-States  <=50K

In [29]:
sort(unique(df[!,:workclass]))

8-element Vector{AbstractString}:
 "Federal-gov"
 "Local-gov"
 "Never-worked"
 "Private"
 "Self-emp-inc"
 "Self-emp-not-inc"
 "State-gov"
 "Without-pay"